@import "tailwindcss";

@theme {
  --font-serif: "Instrument Serif", serif;
  --font-sans: "DM Sans", sans-serif;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-sans);
  background: #000;
  color: #fff;
  overflow-x: hidden;
}
